@import "../../../pages/generalStyles.scss";


.intro-accueil, .intro-encyclopedie, .preambule, .intro-register {
    
   .lien-wattpad {
        box-sizing: border-box;
        background-color: $primary-color;
        padding: 5px 10px;
        font-size: 1.5em;
        text-decoration: none;
        color: $secundary-color;
        width: 50%;
        margin: auto;
    }

    .introduction {
        box-sizing: border-box;
        padding: 15px 20px;
        margin: 5px auto;
        width: 85%;
        border-radius: 10px;
    }
    
    .bienvenu, .titre-LF {
        font-family: $Cinzel;
    }
    
    .bienvenu {
        font-size: 1.25em;
    }
    
    .titre-LF {
        font-size: 1.5em;
    }
    
    .titre {
        font-family: $Kanit;
    }
    
    .lire-roman {
        padding-left: 15px;
    }
}


@media screen and (min-width: 479px) {
    .lien-wattpad {
        width: 40%;
    }
}

@media screen and (min-width: 900px) {
    .lien-wattpad {
        width: 30%;
    }    
}

@media screen and (min-width: 1279px) {
    .lien-wattpad {
        width: 25%;
    }   
    
    .lien-wattpad:hover {
        background-color: $secundary-color;
        color: $primary-color;
        font-size: 2em;
        transition: 0.5s;
    }   
}