@import "../../pages/generalStyles.scss";


.main-accueil {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    a {
        border-radius: 10px;
    }

    header, section, article {
        margin: 30px 0;
    }
    
    .link-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 30px auto;
    }
}